<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>url</key>
		<string>1_GuideSlide.gif</string>
		<key>sectionName</key>
		<string>1_婚礼猫首次启动引导界面</string>
	</dict>
	<dict>
		<key>url</key>
		<string>2_LoginPart.png</string>
		<key>sectionName</key>
		<string>2_登录模块的界面搭建SB</string>
	</dict>
	<dict>
		<key>url</key>
		<string>3_HeaderBannar.gif</string>
		<key>sectionName</key>
		<string>3_界面首页-HeaderBannar和头条Banner</string>
	</dict>
	<dict>
		<key>url</key>
		<string>4_CollectionView_Special_Offset.gif</string>
		<key>sectionName</key>
		<string>4_首页-CollectionView指定偏移滚动</string>
	</dict>
	<dict>
		<key>url</key>
		<string>5_TabBarDefine.gif</string>
		<key>sectionName</key>
		<string>5_TabBar的子view超出父View的点击处理</string>
	</dict>
	<dict>
		<key>url</key>
		<string>6_LocationPart.gif</string>
		<key>sectionName</key>
		<string>6_首页-城市列表原生字母定位</string>
	</dict>
	<dict>
		<key>url</key>
		<string>7_PhotographyPart.gif</string>
		<key>sectionName</key>
		<string>7_首页-婚纱摄影界面</string>
	</dict>
	<dict>
		<key>url</key>
		<string>8_PhotoDisplyPart.gif</string>
		<key>sectionName</key>
		<string>8_婚纱摄影_婚照美图浏览</string>
	</dict>
	<dict>
		<key>url</key>
		<string>9_PhotoBrowserPart.gif</string>
		<key>sectionName</key>
		<string>9_婚纱摄影_客照总览</string>
	</dict>
	<dict>
		<key>url</key>
		<string>10_PhotoUpDownBrowserPart.gif</string>
		<key>sectionName</key>
		<string>10_婚纱摄影_客照浏览滚轮</string>
	</dict>
	<dict>
		<key>url</key>
		<string>11_HotelDetailPart.gif</string>
		<key>sectionName</key>
		<string>11_酒店详情</string>
	</dict>
	<dict>
		<key>url</key>
		<string>12_TravelPart.gif</string>
		<key>sectionName</key>
		<string>12_全球旅拍首页</string>
	</dict>
	<dict>
		<key>url</key>
		<string>13_wikiPart.gif</string>
		<key>sectionName</key>
		<string>13_结婚百科</string>
	</dict>
	<dict>
		<key>url</key>
		<string>14_HouseKeeper.gif</string>
		<key>sectionName</key>
		<string>14_结婚管家</string>
	</dict>
	<dict>
		<key>url</key>
		<string>15_PostPart.gif</string>
		<key>sectionName</key>
		<string>15_图文发帖</string>
	</dict>
	<dict>
		<key>url</key>
		<string>16_TimeLine.gif</string>
		<key>sectionName</key>
		<string>16_结婚时光</string>
	</dict>
	<dict>
		<key>url</key>
		<string>16_TimeLine_Reply.gif</string>
		<key>sectionName</key>
		<string>16_结婚时光-回复</string>
	</dict>
	<dict>
		<key>url</key>
		<string>16_TimeLine_DeleteReply.gif</string>
		<key>sectionName</key>
		<string>16_结婚时光-删除回复</string>
	</dict>
	<dict>
		<key>url</key>
		<string>17_TaskPart.gif</string>
		<key>sectionName</key>
		<string>17_筹婚任务</string>
	</dict>
	<dict>
		<key>url</key>
		<string>18_SeatArrangePart.gif</string>
		<key>sectionName</key>
		<string>18_座位安排</string>
	</dict>
	<dict>
		<key>url</key>
		<string>19_WeddingCardPart.gif</string>
		<key>sectionName</key>
		<string>19_微信喜帖</string>
	</dict>
</array>
</plist>
